<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRIR Project</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./mathjs.js"></script>
    <script src="./app.js"></script>
</head>
<body>

<h1>Project PRIR</h1>

<h3>Podnieś liczbę a do potęgi b</h3>

<br>

<input type="text" id="number1" placeholder="Podstawa">
<input type="text" id="number2" placeholder="Wykładnik">
<button type="button" onclick="websiteAction()">Oblicz!</button>

<div id="result"></div>

</body>
</html>